img{object-fit: contain;height: 200px;}
.divIconCart{
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    color: white;
  margin-left: 80%;
  margin-top: -25%;
    position: relative;
    }
.divIconCart i{
        margin-top: 10px;
    }
.navBarIcons i{
      margin-top: 19px;
  }

/* / RESPONSIVE
   ========================================================================= / */
 
/* / Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- / */
@media (min-width: 300px) {

  .navBarIcons{
    margin-left: 50%;
    /* border-style: solid;
    border-color: yellow; */
  }
 }
 
/* / Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- / */
@media (min-width: 1024px) { }
 
/* / Escritorios muy anchos
   ------------------------------------------------------------------------- */
@media (min-width: 1200px) {
  .navBarIcons{
    margin-left: 90%;
    /* border-style: solid;
    border-color: yellow; */
  }
 }